<?xml version="1.0" ?>
<launch>
  <!-- middle vision -->
  <include file="$(find openni2_launch)/launch/openni2.launch" />

  <!-- uvc_cam -->
  <!-- TODO: Use udev rule -->
  <arg name="right_camera_dev" default="/dev/video0" />
  <arg name="left_camera_dev" default="/dev/video2" />

  <!-- hand eye cameras -->
  <!-- <node name="uvc_camera_left" pkg="uvc_camera" type="uvc_camera_node" output="screen"> -->
  <!--   <remap from="image_raw" to="/left_camera/image_raw"/> -->
  <!--   <remap from="image_raw/compressed" to="/left_camera/image_raw/compressed"/> -->
  <!--   <remap from="camera_info" to="/left_camera/camera_info"/> -->
  <!--   <param name="device" value="$(arg left_camera_dev)"/> -->
  <!--   <param name="fps" value="30"/> -->
  <!--   <param name="width" value="640"/> -->
  <!--   <param name="height" value="360"/> -->
  <!--   <param name="format" value="rgb"/> -->
  <!-- </node> -->
  <node name="uvc_camera_right" pkg="uvc_camera" type="uvc_camera_node" output="screen">
    <remap from="image_raw" to="/right_camera/image_raw"/>
    <remap from="image_raw/compressed" to="/right_camera/image_raw/compressed"/>
    <remap from="camera_info" to="/right_camera/camera_info"/>
    <param name="device" value="$(arg right_camera_dev)"/>
    <param name="fps" value="30"/>
    <param name="width" value="640"/>
    <param name="height" value="360"/>
    <param name="format" value="rgb"/>
  </node>

</launch>
